@font-face {
    font-family: 'Product Sans';
    src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
*{
    font-family: 'Product Sans';
    align-items: center;
    justify-content: center;
    text-align: center;
}
body{
    background: linear-gradient(to right, #f1f2b5, #135058);
}
#display{
    font-size: 30px;
    font-weight: 600;
    margin-top: 200px;
}
.center{
    display: flex;
    justify-content: center;
}
table{
    margin-top: 7px;

}
.colon{
    font-size: 40px;
}
#hours, #seconds, #minutes, #date{
    background-color: white;
    line-height: 90px;
    font-weight: bold;
    font-size: 35px;
    width: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
#date{
    line-height: 30px !important;
}
.header{
    background-color: white;
    padding-bottom: 10px;
    font-size: 16px !important;
    font-weight: bold;
    color: rgba(15, 15, 15, 0.644);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.time{
    font-size: 25px;
    padding: 5px;
}